<div class="sign_up_container">
<div id="home_page_phone_image"><img src="/images/instagram_home_phones.png">
<div id="home_page_phone_image_changing"></div>
</div>
<div id="input_bar">
<div id="input_form">
<img src="/images/instagram_name.png">
<h2>Sign up to see photos and videos from your friends.</h2>
<div class="sign-button">Log in with Facebook</div>
<div class="intersection">
<div class="line-of-intersection"></div><h1>OR</h1><div class="line-of-intersection"></div>
</div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true ,placeholder: "Email",:class=>"input_field"%>
  </div>
  <div class="field">
  <%= f.text_field :fullname , autofocus: true,placeholder: "Full Name",:class=>"input_field"%>
  </div>
   <div class="field">
   <%= f.text_field :username , autofocus: true,placeholder: "Username",:class=>"input_field"%>
  </div>
  <div class="field">
    <%= f.password_field :password, autocomplete: "off",placeholder: "Password" ,:class=>"input_field"%>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Confirm Password" ,:class=>"input_field"%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" ,:class=>"sign-button"%>
  </div>
<% end %>
</div>
<div id="input_form_sign_in">
Have An Account?<div class="sign_in_link"><%= render "devise/shared/links" %></div>
</div>
</div>
</div>
<style type="text/css">
  .sign-button{
    background-color: #3897f0;
    width:268px;
    height:30px;
    border-color: #3897f0;
    border-radius:4px;
    color:#fff;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input_field{
    height: 36px;
    font-size: 14px;
    padding-left:4px;
    width:268px;
    border:1px solid #efefef;;
  }
</style>
<script type="text/javascript">
var x = 0;
function outer(){
  var element = $('#home_page_phone_image_changing');
  inner1();
          function inner1(){
             element.removeClass("add_image5");
             element.addClass("add_image1");
             element.removeClass("current_image1");
             element.addClass("current_image2");
             setTimeout(inner2,5000+x);
          }
          function inner2(){
             element.removeClass("add_image1");
             element.addClass("add_image2");
             element.removeClass("current_image2");
             element.addClass("current_image3");
             setTimeout(inner3,5000+x);
          }
          function inner3(){
             element.removeClass("add_image2");
             element.addClass("add_image3");
             element.removeClass("current_image3");
             element.addClass("current_image4");
             setTimeout(inner4,5000+x);
          }
          function inner4(){
             element.removeClass("add_image3");
             element.addClass("add_image4");
             element.removeClass("current_image4");
             element.addClass("current_image5");
             setTimeout(inner5,5000+x);
          }
          function inner5(){
             element.removeClass("add_image4");
             element.addClass("add_image5");
             element.removeClass("current_image5");
             element.addClass("current_image1");
             setTimeout(outer,5000+x);
          }
}
outer();
</script>