<% if not notifications.nil?%>
  <% notifications.each do |notification|%>


<% unless notification.class==Followmapping%>
<div class="noty">
<div class="noty-text-wrapper">
<div class="user-pic noty-pic">
		<%= image_tag(notification.user.avatar.url(:thumb),:class =>"post-user-profile-pic",:style=>"margin-left:10px;") %>
		</div>
<div class="noty-username">
<h3><%= link_to notification.user.username ,profile_index_path(notification.user.username),class: "noty-username" %></h3>
	</div>
	<div class="noty-type">
		<%if notification.class == Like%><h4><p>liked your Post</p></h4><%end%>
		<%if notification.class == Comment%><h4><p>commmented: <%=notification.content%></p></h4><%end%>

	</div> 
</div>
<%=image_tag(notification.post.image.url(:thumb),:class=>"noty-image")%>
</div>
<%else%>
<div class="noty1">
<div class="noty1_1">
<div class="user-pic noty-pic">
<%user=User.where(id:notification.follower_id).first%>
		<%= image_tag(user.avatar.url(:thumb),:class =>"post-user-profile-pic",:style=>"margin-left:10px;") %>
		</div>
<div class="noty-username">
<h3><%=link_to user.username ,profile_index_path(user.username),class: "noty-username" %></h3>
	</div>
	<div class="noty-type">
		<p>started following you.</p></div>
</div>
		<%= link_to image_tag("#{current_user.follow_button user.id}"), url_for(controller: :home, action: :follow, celeb_id: user.id), method: :post ,remote: true , id: "follow_#{user.id}",class:"noty-follow-button"%>
	</div> 
<% end %>
<%end%>

<%else%>
<h4>Nothing to show,kid!!!</h4>
    <%end%>
    