<!-- header starts here -->


<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<title></title>
<div class="header">
<div class="header-wrapper">
<div class="logos">
	<div class="homelogo-div" ><%=link_to (image_tag('/images/homelogo.png',:class =>"homelogo")),
	home_index_path  %></div>
	<div class="download-div" ><%=link_to (image_tag('/images/download.png',:class =>"download")),home_index_path %></div>
</div>
<div class="search-bar">
	<input type="text" class="top-search" placeholder="Search" value="">
</div>

<div class="links">
	<div class="users"><h3><%= link_to 'Users',home_alluser_path,class: "users" %></h3></div>
	<div class="profile"><h3><%= link_to 'Profile',profile_index_path(current_user.username),class: "profile" %></h3></div>
	<div class="newpost"><h3><%= link_to 'NewPost', new_post_path,class: "newpost"%></h3></div>
	<div class="notifications"><h3 id = "myBtn">Notifications </h3></div>
	<div class="logout"><h3><%= link_to 'Logout', destroy_user_session_path, method: :delete,class: "logout" %></h3></div>
</div>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <span class="close">&times;</span>

  <div class="modal-content noty-wrapper">
   <% if not @notifications.nil?%>
  <% @notifications.each do |notification|%>

<div class="noty">
<div class="user-pic noty-pic">
		<%= image_tag(notification.user.avatar.url(:thumb),:class =>"post-user-profile-pic",:style=>"margin-left:10px;") %>
		</div>
<div class="noty-username">
<h3><%=notification.user.username%></h3>
	</div>
	<div class="noty-type">
		<p>liked your Post</p>
	</div> 
</div>
<%end%>

<%else%>
<div class="noty"><h4>Nothing to show,kid!!!</h4></div>
    <%end%>
    
    
    
  </div>

</div>
</div>
</div>


<!-- header ends here -->
<div class="all_user_outer_container">
<% @users.each do |user| %>
<%unless user.id == current_user.id%>
		<div class="all_users_container">
			<div class="all_user_profile_image">
			<%= image_tag(user.avatar.url(:medium),:class =>"profile-pic") %>
			</div>
			<div class="all_user_username">
			<h3><%= link_to user.username ,profile_index_path(user.username),class: "user-name1" %></h3>
			<div class="all_user_fullname"><%= user.fullname%></div>
			</div>
			
				
			
			<div class="all_user_follow_button">
				 
				<%= link_to image_tag("#{current_user.follow_button user.id}"), url_for(controller: :home, action: :follow, celeb_id: user.id), method: :post ,remote: true , id: "follow_#{user.id}"%>
				
			</div>
		</div>
<% end %>
<% end %>
<div>
<style type="text/css">
	.all_user_outer_container{
		display: flex;
		margin-top: 70px;
		flex-direction: column;
		align-items: center;
	}
	.all_users_container{
		display: flex;
		padding: 10px;
		height:80px;
		width: 600px;
		flex-direction: row;
		border-left: 1px solid;
		border-right: 1px solid;
		border-top: 0.5px solid;
		border-bottom: 0.5px solid;
		border-color: #efefef;
		position: sticky;
	}
	.profile-pic{
		width: 100%;
		height:100%;
	}
	.all_user_profile_image{
		margin-left:5px;
		margin-right: 10px; 
		height: 60px;
		width:60px;
		border-radius: 60px;
		background-color: blue;
	}
	.all_user_follow_button{
		position: absolute;
		right: 20px;
	}
	.all_user_username{
		color: #262626;
		font-size: 14px;
    	font-weight: 600;
    	line-height: 10px;
	}
	.all_user_fullname{
		    color: #999;
		    font-size: 14px;
    		font-weight: 400;
    		margin-left: 15px;
	}
	.user-name1{
		margin-top: 10px;
		margin-left: 15px;
		color: black;
    	text-decoration: none;
	}
</style>
<script type="text/javascript">
  var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
