
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<title></title>

<div class="header">
<div class="header-wrapper">
<div class="logos">
	<div class="homelogo-div" ><%= image_tag('/images/homelogo.png',:class =>"homelogo")  %></div>
	<div class="download-div" ><%= image_tag('/images/download.png',:class =>"download")  %></div>
</div>
<div class="search-bar">
	<input type="text" class="top-search" placeholder="Search" value="">
</div>

<div class="links">
	<div class="users"><h3><%= link_to 'Users',home_alluser_path,class: "users" %></h3></div>
	<div class="profile"><h3><%= link_to 'Profile',profile_index_path(current_user.username),class: "profile" %></h3></div>
	<div class="newpost"><h3><%= link_to 'NewPost', new_post_path,class: "newpost"%></h3></div>
	<div class="notifications"><h3 id = "myBtn">Notifications </h3></div>
	<div class="logout"><h3><%= link_to 'Logout', destroy_user_session_path, method: :delete,class: "logout" %></h3></div>
</div>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <span class="close">&times;</span>

  <div class="modal-content noty-wrapper">
  <% if not @notifications.nil?%>
  <% @notifications.each do |notification|%>

<div class="noty">
<div class="user-pic noty-pic">
		<%= image_tag(notification.user.avatar.url(:medium),:class =>"post-user-profile-pic") %>
		</div>
<div class="noty-username">
<h3><%=notification.user.username%></h3>
	</div>
	<div class="noty-type">
		<p>liked your Post</p>
	</div> 
</div>
<%end%>

<%else%>
<div class="noty"><h4>Nothing to show,kid!!!</h4></div>
    <%end%>
    
  </div>

</div>
</div>
</div>








<div class="posts">
 <% @posts.each do |post| %>
<div class="post">
 
 <%=render 'post',post:post%>
 <%=render 'like',post:post%>
 <%=render 'comment',post:post%>
      </div>
      <%end%>
      </div>

<script type="text/javascript">
	// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>