<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user %></td>
        <td><%= post.content %></td>
        <td><%=image_tag post.image.url(:medium)%></td>
        <td><form action="/likes/like" method="POST">
  <input type="hidden" name="tweet_id" value="<%=@post.id %>">
  <% if current_user.likes.where(post_id:@post.id).first %>
  <input type="submit" name="submit" value="UnLike">
  <% else %>
<input type="submit" name="submit" value="Like">
  <% end %>
</form></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
