<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<title></title>
<div class="header">
<div class="header-wrapper">
<div class="logos">

	<div class="homelogo-div" ><%=link_to (image_tag('/images/homelogo.png',:class =>"homelogo")),
	home_index_path  %></div>
	<div class="download-div" ><%=link_to (image_tag('/images/download.png',:class =>"download")),home_index_path %></div>
</div>
<div class="search-bar">
	<input type="text" class="top-search" placeholder="Search" value="">
</div>

<div class="links">
	<div class="users"><h3><%= link_to 'Users',home_alluser_path,class: "users" %></h3></div>
	<div class="profile"><h3><%= link_to 'Profile',profile_index_path(current_user.username),class: "profile" %></h3></div>
	<div class="newpost"><h3><%= link_to 'NewPost', new_post_path,class: "newpost"%></h3></div>
	<div class="notifications"><h3 id="myBtn"><%= link_to 'Notifications',url_for(controller: :home , action: :notification),class: "newpost has_notifications_#{current_user.has_notifications}",remote: true%></h3></div>
	<div class="logout"><h3><%= link_to 'Logout', destroy_user_session_path, method: :delete,class: "logout" %></h3></div>
</div>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <span class="close">&times;</span>
<div class="modal-content noty-wrapper" id="all-notifications"></div>

</div>
</div>
</div>
<div class="new_post_outer_container">
<h1>New Post</h1>

<%= render 'form' %>

<!-- <%= link_to 'Back', posts_path %> -->
</div>

<style type="text/css">
	.new_post_outer_container{
	margin-top:0px;
	padding-top:100px;
	}
</style>

<script type="text/javascript">
	  var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>