
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="header">
<div class="header-wrapper">
<div class="logos">
	<div class="homelogo-div" ><%=link_to (image_tag('/images/homelogo.png',:class =>"homelogo")),
	home_index_path  %></div>
	<div class="download-div" ><%=link_to (image_tag('/images/download.png',:class =>"download")),home_index_path %></div>
</div>
<div class="search-bar">
	<input type="text" class="top-search" placeholder="Search" value="">
</div>

<div class="links">
	<div class="users"><h3><%= link_to 'Users',home_alluser_path,class: "users" %></h3></div>
	<div class="profile"><h3><%= link_to 'Profile',profile_index_path(current_user.username),class: "profile" %></h3></div>
	<div class="newpost"><h3><%= link_to 'NewPost', new_post_path,class: "newpost"%></h3></div>
<div class="notifications w3-dropdown-click"><h3 id="myBtn"><%= link_to 'Notifications',url_for(controller: :home , action: :notification),class: "newpost has_notifications_#{current_user.has_notifications}",remote: true%></h3>

    <div id="all-notifications" class="w3-dropdown-content w3-animate-zoom" style="display: none;">
    <span class="close">&times;</span>
    </div>
  </div>
<div class="logout"><h3><%= link_to 'Logout', destroy_user_session_path, method: :delete,class: "logout" %></h3></div>
</div>

</div>
</div>


<% name=request.original_url.split('.').last%>
<%user=User.where(username:name).first%>
<div class="change-profile-pic"><%=render 'change'%></div>
<div class="user-info">
	<div class="user-profile-pic">
	<%if user.id == current_user.id%>
	<%=link_to image_tag(user.avatar.url(:medium),:class =>"profile-pic success") ,edit_user_registration_path%>
	<%else%>
	<%=image_tag(user.avatar.url(:medium),:class =>"profile-pic failure")%>
	<%end%>
	</div>
	<div class="user-data-wrapper">
	<div class="user-name-follow">
		<div class="user-name"><h2><%=user.username%></h2></div>
		<div class="user-follow">
			<% if (current_user.can_follow user.id)||(current_user.can_un_follow user.id)%>
			<%= link_to image_tag("#{current_user.follow_button user.id}"), url_for(controller: :home, action: :follow, celeb_id: user.id), method: :post ,remote: true , id: "follow_#{user.id}"%>
			<%end%>
			
		</div>
		</div>

		<div class="user-follow-post-stats">
			<div class="user-followers"><h3><%= 
			Followmapping.where(celeb_id: user.id).length%> followers</h3></div>
			<div class="user-followees"><h3>
			<%= Followmapping.where(follower_id: user.id).length%> following</h3></div>
			<div class="user-posts"><h3><%=user.posts.length%> posts</h3></div>
		</div>
		<div class="user-fullname-status">
			<div class="user-fullname"><h3><%=user.fullname%></h3></div>
			<div class="user-status"><p>follow me on all media platforms to not miss any updates</p> </div>
		</div>
	</div>
</div>



<% posts = Post.where(user_id: user.id)%>
<%posts.order! 'created_at DESC'%>
<div class="user-own-posts">
 <% posts.each do |post| %>


 <div class="sample container my-button" id="<%=post.id%>">
 
        <%= link_to (image_tag post.image.url(:thumb)),profile_index_path(post.user.username)%>
        <div class="overlay">
            <div class="hover-likes"><%=post.likes.length%>
    	   <i class="fa fa-heart" aria-hidden="true"></i>

            </div>
            <div class="hover-comments"><%=post.comments.length%>
    	       <i class="fa fa-comment" aria-hidden="true"></i>
            </div>
        </div>
 </div>

    <div id="element_to_pop_up_<%=post.id%>" class="element_pop">
    		<a class="b-close">x</a>
    			<form action="/likes/like" method="POST" data-remote="true" id="like-form-on-double-<%=post.id%>">
  					<input type="hidden" name="post_id" value="<%=post.id %>">
  
     				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
   
  					<% if current_user.likes.where(post_id:post.id).first %>
  					<input type="hidden" name="value" value="liked">
   
  					<% else %>
    				<input type="hidden" name="value" value="like">
					<% end %>
				</form>	
 				<div class="post-wrapper">
 			
 			<div class="post-image popup-image just-to-check-double-click" id="<%=post.id%>">
 				<%=image_tag post.image.url(:medium)%>
 			</div>

 	<div class="post-data">
 		<div class="post-pic-name">
 			<div class="user-pic">
				<%= image_tag(current_user.avatar.url(:thumb),:class =>"post-user-profile-pic") %>
			</div>

			<div class="user-name"><h3><%= link_to post.user.username ,profile_index_path(post.user.username),class: "user-name" %></h3>
			</div>
		</div>

		<div class="comment-wrapper">
					<div class="comment-user"><h3><%= post.user.username %></h3></div>
     				<div class="comment-content"><p><%= post.content %></p></div>
		</div>

<%=render 'like',post:post%>
<br>
<%=render 'comment',post:post%>

	</div>
				</div>
	</div>
    
<%end%>
</div>


<script type="text/javascript">
	;(function($) {
        $(function() {
            $('.success').bind('click', function(e) {
                e.preventDefault();
                $('.change-profile-pic').bPopup();

            });

        });

    })(jQuery);

    ;(function($) {
        $(function() {
            $('.my-button').bind('click', function(e) {
                e.preventDefault();
                $('#element_to_pop_up_' + this.id).bPopup();

            });

        });

    })(jQuery);


    ;(function($) {
        $(function() {
            $('.just-to-check-double-click').bind('dblclick', function(e) {
               	console.log(this.id);
            	$("#like-form-on-double-"+this.id).submit();
            });

        });

    })(jQuery);


   var modal = document.getElementById('all-notifications');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target != modal) {
        modal.style.display = "none";
    }

}

</script>